.calculatorBase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.calculatorOperation{
    width: 158px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.calculatorDigits{
    display: flex;
    width: 158px;
    justify-content: center;
    
}


.calculatorNumbers button{
    width: 24px;
    height: 24px;
    
}



.calculatorOperations button{
    width: 24px;
    height: 24px;
}

#equal{
    width: 52px;
}
#clear{
    width: 52px;
}